# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# FreeCAD
*.pyc
*.fcstd1
*.FCStd1
*.fcstd2
*.FCStd2
Hardware/Private

# CLion
**/cmake-build-*/
**/.idea

# VSCode
**/.vscode/

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~*.lck
_autosave-*
*auto_saved_*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-lib-table
*.gbr
*.gbrjob
*.drl
**/gbr/
*.stl
*.factory
**/production/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
Software/LEDTimerLite.X/queuelogs/debugtool.txt
